body {
	background: #eee;
}

p {
	margin-bottom: 0;
}

#bill {
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 40px;
	/*margin: 20px 0;*/
}

#bill-inner {
	padding: 60px 10px 30px 30px;
}

h1.top-title {
    margin: 0 0 20px 30px;
}

.company-input {
    background: transparent;
    border: none;
    overflow: auto;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    line-height: 18pt;
}

.company-input:focus {
	background: #efefef;
}

.company-input h3 {
    margin: 0;
}

.row.item {
	height: 100%;
	display: table-row;
}

.row.item > div[class*='col-'] {
	display: table-cell;
	float: none;
}

.row.options {
    margin: 10px 0 20px;
}

.row.table {
	margin-top: 30px;
}

.row.item.head {
    font-weight: bold;
    border-top-color: #ccc;
    border-bottom-color: #ccc;
}

.row.item.head div {
	background: #eee;
    border-top: 1px solid #ddd;
}

.row.item div[class*='col-x'] {
    padding-top: 4px;
    padding-bottom: 4px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


.row.item .id {
    padding-left: 5px;
    text-align: right;
}

.row.item .invoice-line-item-remove {
    float: left;
    position: relative;
    margin-left: -1.5em;
    margin-top: 0.5em;
    cursor: pointer;
}

.row.item div.col-xs-6 {
    border-left: 1px solid #ddd;
}

.row.operations {
    margin-top: 20px;
}

.row.results {
    margin-top: 40px;
}

span[contenteditable="true"] {
	text-decoration: underline;
}

p.text-input,
span.number-input,
input.number-input {
    background: transparent;
    border: none;
    width: 100%;
    outline: none;
    margin-bottom: 0;
}

span.number-input,
input.number-input {
    text-align: right;
}

p.text-input:focus,
span.number-input:focus,
input.number-input:focus {
	background: #efefef;
}

.right-aligned-title {
    font-weight: bold;
    text-align: right;
    padding-right: 0;
}

@media print {
	.add-item,
	.invoice-line-item-remove,
	.title { 
		display: none;
	}
	
	#bill {
		position: fixed;
		top: 0;
		left: 0;
	}
}